data/*
Debug/*
Release/*
export/*
outputs/*

#Eclipse files
.project
.cproject
/Debug/
/Release/
.settings/*

*.png

#Executable names
Stage3A
CancerClustering
TCGA-Clusterer

#Cmake files
CMakeFiles/*
CMakeLists.txt~
cmake_install.cmake
Makefile
CMakeCache.txt
