data/*
Debug/*
Release/*x
export/*
outputs/*
*.a

#Eclipse files
.project
.cproject
/Debug/
/Release/
.settings/*

*.png

#Executable names
Stage3A
CancerClustering
TCGA-Clusterer
TCGA-Analyzer

#Cmake files
CMakeFiles/*
CMakeLists.txt
CMakeLists.txt~
cmake_install.cmake
Makefile
CMakeCache.txt
