data/*
Debug/*
Release/*
export/*
outputs/*

#Eclipse files
.project
.cproject
/Debug/
/Release/

*.png
Stage3A
CancerClustering
CMakeFiles/*
CMakeLists.txt~
cmake_install.cmake
Makefile
CMakeCache.txt
